body{
	overflow-x:hidden;
	background:#fafafa;
}
#home_page .parallax img {
    filter: blur(2px);/*grayscale(100%);*/
}
.carousel .indicators .indicator-item{
	display:inline-block;
	position:relative;
	cursor:pointer;
	height:8px;
	width:8px;
	margin:24px 4px;
	background-color:black;
	border-radius: 30%;
}
.item{
	display: none;
}
.carousel .indicators .indicator-item.active{
	background-color:red;

}

.boxed_item{
	padding: 10px 20px;
	display: inline-block;
	border: solid 2px white;
	box-sizing: border-box;
	font-size: 22px;
	color: white;
	text-align: center;
	margin-top: 40px;
}
.normal_box{
	display: inline-block;
	padding: 10px 20px;
	border: solid 2px black;
	box-sizing: border-box;
}

.dark-bg{
	background-color: rgba(17,17,17,0.9);
}
nav{
	background-color: rgba(17,17,17,0.3);
}
nav{
	height:100px; 
	font-family:'Montserrat',sans-serif;
}
#home_page .parallax-container {
		height:680px;
}
.custom-text2{font-family:'Ropa Sans',sans-serif;}
nav ul li.active{background-color:rgba(0,0,0,0.5)}
nav ul li.active a{color:#d32f2f;}
nav ul a:hover{background-color:rgba(0,0,0,0.5);color:#d32f2f;}
nav ul{height:100px;}
nav li{height:100px;}
nav li a{color:white;font-size:20px;padding:18px;opacity:2.0;}
nav .brand-logo{color:white;}

.custom-text{font-family:'Montserrat',sans-serif}
.caps {font-variant: small-caps;}


.image:hover {transform:scale(1.2);display:block;overflow: hidden}
.logo-icon {
	margin-top:12px;
	height:74px;
	width:98px;
}
@media only screen and (max-width:500px) {
	.client-img{
		height:170px;
		width:100%;
	}
	#product_page .client-img{}
	.prod_names{
		display: none;
	}
}
@media only screen and (min-width:760px) {
	.client-img{
		height:260px;
		width:100%;
	}
	#product_page .client-img{
		height:200px;
		width:100%;
	}
	#brand{
		font-size: 42px;
	}
}

@media only screen and (max-width:1024px) {

#brand{
		font-size: 30px;
	}
}

.slider .indicators .indicator-item.active{background-color:#33691e}

.brand-logo { color:#558b2f; }
footer.page-footer {
	background-color: #212121;
	font-family:'Ropa Sans',sans-serif;
}

@font-face {
	font-family:'Material Icons';
	font-style:normal;
	font-weight:400;
	src:url(https://example.com/MaterialIcons-Regular.eot);
	src:local('Material Icons'),local('MaterialIcons-Regular'),url(../icons/MaterialIcons-Regular.woff2)
	format('woff2'),url(../icons/MaterialIcons-Regular.woff) 
 	format('woff'),url(../icons/MaterialIcons-Regular.ttf) 
	format('truetype')
}

.material-icons {
 	font-family:'Material Icons';
 	font-weight:400;
 	font-style:normal;
 	font-size:24px;
 	display:inline-block;
 	line-height:1;
 	text-transform:none;

 	letter-spacing:normal;word-wrap:normal;white-space:nowrap;direction:ltr;-webkit-font-smoothing:antialiased;
 	text-rendering:optimizeLegibility;-moz-osx-font-smoothing:grayscale;font-feature-settings:'liga'
 }
@font-face{
	font-family:'Ropa Sans';font-style:normal;font-weight:400;
	src:local('Ropa Sans Regular'),local('RopaSans-Regular'),url(../fonts/ropa-sans-ext.woff2) 
	format('woff2');unicode-range:U+0100-024F,U+1E00-1EFF,U+20A0-20AB,U+20AD-20CF,U+2C60-2C7F,U+A720-A7FF
}
@font-face{font-family:'Ropa Sans';font-style:normal;font-weight:400;
	src:local('Ropa Sans Regular'),local('RopaSans-Regular'), url(../fonts/ropa-sans.woff2)
	format('woff2');unicode-range:U+0000-00FF,U+0131,U+0152-0153,U+02C6,U+02DA,U+02DC,U+2000-206F,U+2074,U+20AC,U+2212,U+2215
}
@font-face{font-family:'Montserrat';font-style:normal;font-weight:700;src:local('Montserrat Bold'),local('Montserrat-Bold'),
	url(../fonts/montserrat-bold-1.woff2) format('woff2');unicode-range:U+0102-0103,U+1EA0-1EF9,U+20AB
}
@font-face{font-family:'Montserrat';font-style:normal;font-weight:700;src:local('Montserrat Bold'),local('Montserrat-Bold'),
	url(../fonts/montserrat-bold-ext.woff2) 
	format('woff2');unicode-range:U+0100-024F,U+1E00-1EFF,U+20A0-20AB,U+20AD-20CF,U+2C60-2C7F,U+A720-A7FF
}
@font-face{font-family:'Montserrat';font-style:normal;font-weight:700;src:local('Montserrat Bold'),
	local('Montserrat-Bold'),url(../fonts/montserrat-bold.woff2)
	format('woff2');unicode-range:U+0000-00FF,U+0131,U+0152-0153,U+02C6,U+02DA,U+02DC,U+2000-206F,U+2074,U+20AC,U+2212,U+2215
}